body{
    background-color: pink;
    text-align: center;
}
.header_div{
    background-color: aquamarine;
    color: cornflowerblue;

}
.header_div p{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
    letter-spacing: 2x;
    font-size: 20px;
}
.main_div button{
    font-family: 'Caveat', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: rgb(100, 97, 97);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 10px 10px 10px grey;
    font-family: 'Mochiy Pop P One', sans-serif;
}
h2{
    font-family: 'Pacifico', cursive;
}
